* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
}

body {
}

#root {
    padding: 1.5rem;
}

.memory-game {
    display: grid;
    grid-template-columns: auto 1fr;
}

.scoreboard {
    place-self: start end;
    margin-left: 1rem;
    min-width: max-content;
}

.scoreboard,
.title p {
    margin-bottom: 1rem;
}

.current-score,
.title h1,
.game-card-title,
.game-card-img {
    margin-bottom: 0.5rem;
}

.card-table {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.game-card {
    padding: 1rem;
    padding-top: 0.25rem;
}

.game-card-img {
    width: 90%;
}

@media (max-width: 1000px) {
    .card-table {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 600px) {
    .memory-game {
        display: block;
    }

    .scoreboard {
        place-self: inherit;
        margin-left: 0;
    }

    .game-card-description {
        display: none;
    }

    .game-card-title {
        margin: 0;
    }
}
